################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ex03.ConsoleUI/obj
/Ex03.GarageLogic/obj
/Ex03.GarageLogic/bin/Debug
/.vs/B18 Ex03 Snir 203698808 Chen 308334309/v15/Server/sqlite3
/Ex03.GarageLogic/.vs/Ex03.GarageLogic
